body {
    margin: 0;
  }
  
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }

  .business-font,
  .business-title {
    padding-left: 15rem;
    padding-right:3rem;
  }
  
      
  .container,
  .grid,
  .about,
  .global-footer {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .project-info {
    padding-left: 1rem;
  }